Repository ephemeras0/white-block-next: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.md": ["prettier --write"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.vue": ["eslint --fix"],
  "*.{less,css,html}": ["prettier --write"]
}

chore(workflow): revise workflows
  .changeset/heavy-brooms-matter.md
Due: prettier --write

chore(workflow): revise workflows
  .github/workflows/autofix.yml
Due: none

chore(workflow): revise workflows
  .changeset/README.md
Due: prettier --write

chore(workflow): revise workflows
  README.md
Due: prettier --write

chore(workflow): revise workflows
  .changeset/curly-frogs-sleep.md
  .github/workflows/check.yml
Due: prettier --write

chore(workflow): revise workflows
  packages/core/src/utils/common.ts
Due: eslint --fix

chore(workflow): revise workflows
  packages/resolver/vscode/logo.png
  packages/resolver/vscode/package.json
  packages/resolver/vscode/scripts/config.ts
  packages/resolver/vscode/src/commands.ts
  packages/resolver/vscode/src/completions.ts
  packages/resolver/vscode/src/config.json
  packages/resolver/vscode/src/constant.ts
  packages/resolver/vscode/src/hover.ts
  packages/resolver/vscode/src/index.ts
  packages/resolver/vscode/tsconfig.json
  packages/resolver/vscode/tsup.config.ts
Due: eslint --fix

chore(workflow): revise workflows
  .lintstagedrc
  packages/core/src/utils/common.ts
Due: eslint --fix

chore(workflow): revise workflows
  .github/workflows/autofix.yml
  .lintstagedrc
  docs/coverage.json
  package.json
  packages/core/src/components/button-group/examples/tag.json
  packages/core/src/components/button/examples/color.json
  packages/core/src/components/toggle/examples/theme.json
  packages/resolver/vscode/src/config.json
  packages/vscode/src/config.json
  pnpm-lock.yaml
Due: none

chore(workflow): revise workflows
  packages/core/src/utils/common.ts
  packages/core/src/utils/component.ts
Due: eslint --fix

chore(workflow): revise workflows
  .github/workflows/autofix.yml
  .github/workflows/lint.yml
Due: none
